
vendor/
backend/credentials.json
token.json
node_modules/
backend/secrets.php
backend/secrets.example.php
.DS_Store
dlflip/
dflip/css/dflip.min.css
dflip/css/themify-icons.min.css
dflip/fonts/themify.eot
dflip/fonts/themify.svg
dflip/fonts/themify.ttf
dflip/fonts/themify.woff
dflip/images/chrome-extension.png
dflip/images/get-it-from-MS.png
dflip/images/loading.gif
dflip/images/pdfjs/annotation-check.svg
dflip/images/pdfjs/annotation-comment.svg
dflip/images/pdfjs/annotation-help.svg
dflip/images/pdfjs/annotation-insert.svg
dflip/images/pdfjs/annotation-key.svg
dflip/images/pdfjs/annotation-newparagraph.svg
dflip/images/pdfjs/annotation-noicon.svg
dflip/images/pdfjs/annotation-note.svg
dflip/images/pdfjs/annotation-paragraph.svg
dflip/images/textures/white.jpg
dflip/js/dflip.min.js
dflip/js/libs/compatibility.js
dflip/js/libs/jquery.min.js
dflip/js/libs/mockup.min.js
dflip/js/libs/pdf.min.js
dflip/js/libs/pdf.worker.min.js
dflip/js/libs/three.min.js
dflip/js/libs/cmaps/78-EUC-H.bcmap
dflip/js/libs/cmaps/78-EUC-V.bcmap
dflip/js/libs/cmaps/78-H.bcmap
dflip/js/libs/cmaps/78-RKSJ-H.bcmap
dflip/js/libs/cmaps/78-RKSJ-V.bcmap
dflip/js/libs/cmaps/78-V.bcmap
dflip/js/libs/cmaps/78ms-RKSJ-H.bcmap
dflip/js/libs/cmaps/78ms-RKSJ-V.bcmap
dflip/js/libs/cmaps/83pv-RKSJ-H.bcmap
dflip/js/libs/cmaps/90ms-RKSJ-H.bcmap
dflip/js/libs/cmaps/90ms-RKSJ-V.bcmap
dflip/js/libs/cmaps/90msp-RKSJ-H.bcmap
dflip/js/libs/cmaps/90msp-RKSJ-V.bcmap
dflip/js/libs/cmaps/90pv-RKSJ-H.bcmap
dflip/js/libs/cmaps/90pv-RKSJ-V.bcmap
dflip/js/libs/cmaps/Add-H.bcmap
dflip/js/libs/cmaps/Add-RKSJ-H.bcmap
dflip/js/libs/cmaps/Add-RKSJ-V.bcmap
dflip/js/libs/cmaps/Add-V.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-0.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-1.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-2.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-3.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-4.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-5.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-6.bcmap
dflip/js/libs/cmaps/Adobe-CNS1-UCS2.bcmap
dflip/js/libs/cmaps/Adobe-GB1-0.bcmap
dflip/js/libs/cmaps/Adobe-GB1-1.bcmap
dflip/js/libs/cmaps/Adobe-GB1-2.bcmap
dflip/js/libs/cmaps/Adobe-GB1-3.bcmap
dflip/js/libs/cmaps/Adobe-GB1-4.bcmap
dflip/js/libs/cmaps/Adobe-GB1-5.bcmap
dflip/js/libs/cmaps/Adobe-GB1-UCS2.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-0.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-1.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-2.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-3.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-4.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-5.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-6.bcmap
dflip/js/libs/cmaps/Adobe-Japan1-UCS2.bcmap
dflip/js/libs/cmaps/Adobe-Korea1-0.bcmap
dflip/js/libs/cmaps/Adobe-Korea1-1.bcmap
dflip/js/libs/cmaps/Adobe-Korea1-2.bcmap
dflip/js/libs/cmaps/Adobe-Korea1-UCS2.bcmap
dflip/js/libs/cmaps/B5-H.bcmap
dflip/js/libs/cmaps/B5-V.bcmap
dflip/js/libs/cmaps/B5pc-H.bcmap
dflip/js/libs/cmaps/B5pc-V.bcmap
dflip/js/libs/cmaps/CNS-EUC-H.bcmap
dflip/js/libs/cmaps/CNS-EUC-V.bcmap
dflip/js/libs/cmaps/CNS1-H.bcmap
dflip/js/libs/cmaps/CNS1-V.bcmap
dflip/js/libs/cmaps/CNS2-H.bcmap
dflip/js/libs/cmaps/CNS2-V.bcmap
dflip/js/libs/cmaps/ETen-B5-H.bcmap
dflip/js/libs/cmaps/ETen-B5-V.bcmap
dflip/js/libs/cmaps/ETenms-B5-H.bcmap
dflip/js/libs/cmaps/ETenms-B5-V.bcmap
dflip/js/libs/cmaps/ETHK-B5-H.bcmap
dflip/js/libs/cmaps/ETHK-B5-V.bcmap
dflip/js/libs/cmaps/EUC-H.bcmap
dflip/js/libs/cmaps/EUC-V.bcmap
dflip/js/libs/cmaps/Ext-H.bcmap
dflip/js/libs/cmaps/Ext-RKSJ-H.bcmap
dflip/js/libs/cmaps/Ext-RKSJ-V.bcmap
dflip/js/libs/cmaps/Ext-V.bcmap
dflip/js/libs/cmaps/GB-EUC-H.bcmap
dflip/js/libs/cmaps/GB-EUC-V.bcmap
dflip/js/libs/cmaps/GB-H.bcmap
dflip/js/libs/cmaps/GB-V.bcmap
dflip/js/libs/cmaps/GBK-EUC-H.bcmap
dflip/js/libs/cmaps/GBK-EUC-V.bcmap
dflip/js/libs/cmaps/GBK2K-H.bcmap
dflip/js/libs/cmaps/GBK2K-V.bcmap
dflip/js/libs/cmaps/GBKp-EUC-H.bcmap
dflip/js/libs/cmaps/GBKp-EUC-V.bcmap
dflip/js/libs/cmaps/GBpc-EUC-H.bcmap
dflip/js/libs/cmaps/GBpc-EUC-V.bcmap
dflip/js/libs/cmaps/GBT-EUC-H.bcmap
dflip/js/libs/cmaps/GBT-EUC-V.bcmap
dflip/js/libs/cmaps/GBT-H.bcmap
dflip/js/libs/cmaps/GBT-V.bcmap
dflip/js/libs/cmaps/GBTpc-EUC-H.bcmap
dflip/js/libs/cmaps/GBTpc-EUC-V.bcmap
dflip/js/libs/cmaps/H.bcmap
dflip/js/libs/cmaps/Hankaku.bcmap
dflip/js/libs/cmaps/Hiragana.bcmap
dflip/js/libs/cmaps/HKdla-B5-H.bcmap
dflip/js/libs/cmaps/HKdla-B5-V.bcmap
dflip/js/libs/cmaps/HKdlb-B5-H.bcmap
dflip/js/libs/cmaps/HKdlb-B5-V.bcmap
dflip/js/libs/cmaps/HKgccs-B5-H.bcmap
dflip/js/libs/cmaps/HKgccs-B5-V.bcmap
dflip/js/libs/cmaps/HKm314-B5-H.bcmap
dflip/js/libs/cmaps/HKm314-B5-V.bcmap
dflip/js/libs/cmaps/HKm471-B5-H.bcmap
dflip/js/libs/cmaps/HKm471-B5-V.bcmap
dflip/js/libs/cmaps/HKscs-B5-H.bcmap
dflip/js/libs/cmaps/HKscs-B5-V.bcmap
dflip/js/libs/cmaps/Katakana.bcmap
dflip/js/libs/cmaps/KSC-EUC-H.bcmap
dflip/js/libs/cmaps/KSC-EUC-V.bcmap
dflip/js/libs/cmaps/KSC-H.bcmap
dflip/js/libs/cmaps/KSC-Johab-H.bcmap
dflip/js/libs/cmaps/KSC-Johab-V.bcmap
dflip/js/libs/cmaps/KSC-V.bcmap
dflip/js/libs/cmaps/KSCms-UHC-H.bcmap
dflip/js/libs/cmaps/KSCms-UHC-HW-H.bcmap
dflip/js/libs/cmaps/KSCms-UHC-HW-V.bcmap
dflip/js/libs/cmaps/KSCms-UHC-V.bcmap
dflip/js/libs/cmaps/KSCpc-EUC-H.bcmap
dflip/js/libs/cmaps/KSCpc-EUC-V.bcmap
dflip/js/libs/cmaps/LICENSE
dflip/js/libs/cmaps/NWP-H.bcmap
dflip/js/libs/cmaps/NWP-V.bcmap
dflip/js/libs/cmaps/RKSJ-H.bcmap
dflip/js/libs/cmaps/RKSJ-V.bcmap
dflip/js/libs/cmaps/Roman.bcmap
dflip/js/libs/cmaps/UniCNS-UCS2-H.bcmap
dflip/js/libs/cmaps/UniCNS-UCS2-V.bcmap
dflip/js/libs/cmaps/UniCNS-UTF8-H.bcmap
dflip/js/libs/cmaps/UniCNS-UTF8-V.bcmap
dflip/js/libs/cmaps/UniCNS-UTF16-H.bcmap
dflip/js/libs/cmaps/UniCNS-UTF16-V.bcmap
dflip/js/libs/cmaps/UniCNS-UTF32-H.bcmap
dflip/js/libs/cmaps/UniCNS-UTF32-V.bcmap
dflip/js/libs/cmaps/UniGB-UCS2-H.bcmap
dflip/js/libs/cmaps/UniGB-UCS2-V.bcmap
dflip/js/libs/cmaps/UniGB-UTF8-H.bcmap
dflip/js/libs/cmaps/UniGB-UTF8-V.bcmap
dflip/js/libs/cmaps/UniGB-UTF16-H.bcmap
dflip/js/libs/cmaps/UniGB-UTF16-V.bcmap
dflip/js/libs/cmaps/UniGB-UTF32-H.bcmap
dflip/js/libs/cmaps/UniGB-UTF32-V.bcmap
dflip/js/libs/cmaps/UniJIS-UCS2-H.bcmap
dflip/js/libs/cmaps/UniJIS-UCS2-HW-H.bcmap
dflip/js/libs/cmaps/UniJIS-UCS2-HW-V.bcmap
dflip/js/libs/cmaps/UniJIS-UCS2-V.bcmap
dflip/js/libs/cmaps/UniJIS-UTF8-H.bcmap
dflip/js/libs/cmaps/UniJIS-UTF8-V.bcmap
dflip/js/libs/cmaps/UniJIS-UTF16-H.bcmap
dflip/js/libs/cmaps/UniJIS-UTF16-V.bcmap
dflip/js/libs/cmaps/UniJIS-UTF32-H.bcmap
dflip/js/libs/cmaps/UniJIS-UTF32-V.bcmap
dflip/js/libs/cmaps/UniJIS2004-UTF8-H.bcmap
dflip/js/libs/cmaps/UniJIS2004-UTF8-V.bcmap
dflip/js/libs/cmaps/UniJIS2004-UTF16-H.bcmap
dflip/js/libs/cmaps/UniJIS2004-UTF16-V.bcmap
dflip/js/libs/cmaps/UniJIS2004-UTF32-H.bcmap
dflip/js/libs/cmaps/UniJIS2004-UTF32-V.bcmap
dflip/js/libs/cmaps/UniJISPro-UCS2-HW-V.bcmap
dflip/js/libs/cmaps/UniJISPro-UCS2-V.bcmap
dflip/js/libs/cmaps/UniJISPro-UTF8-V.bcmap
dflip/js/libs/cmaps/UniJISX0213-UTF32-H.bcmap
dflip/js/libs/cmaps/UniJISX0213-UTF32-V.bcmap
dflip/js/libs/cmaps/UniJISX02132004-UTF32-H.bcmap
dflip/js/libs/cmaps/UniJISX02132004-UTF32-V.bcmap
dflip/js/libs/cmaps/UniKS-UCS2-H.bcmap
dflip/js/libs/cmaps/UniKS-UCS2-V.bcmap
dflip/js/libs/cmaps/UniKS-UTF8-H.bcmap
dflip/js/libs/cmaps/UniKS-UTF8-V.bcmap
dflip/js/libs/cmaps/UniKS-UTF16-H.bcmap
dflip/js/libs/cmaps/UniKS-UTF16-V.bcmap
dflip/js/libs/cmaps/UniKS-UTF32-H.bcmap
dflip/js/libs/cmaps/UniKS-UTF32-V.bcmap
dflip/js/libs/cmaps/V.bcmap
dflip/js/libs/cmaps/WP-Symbol.bcmap
dflip/sound/turn.mp3
dflip/sound/turn2.mp3
dflip/sound/turn2a.mp3
dflip/sound/turn3.mp3
